@import url("reset.scss");

html {
    background-color: #fdf8ec;
    font-family: "Manrope", sans-serif;
}

nav ul li {
    display: inline;
    padding: 10px;
}
.logo {
    float: left;
    padding: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50px;
    font-family: "Manrope", sans-serif;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
}

.heading {
    font-family: "Noto Serif", sans-serif;
    text-align: center;
    color: #9b582e;
    padding-top: 75px;
    font-weight: 700;
    font-size: 80px;
    position: relative;
}
.diffrent-color {
    color: #533019;
}
.strawberry {
    width: 75px;
    height: 73px;
    left: 383px;
    top: 288px;
    position: absolute;
}
.basil {
    width: 166px;
    height: 166px;
    top: 248px;
    gap: 16px;
    left: 1100px;
    position: absolute;
}
.landing-titles {
    display: flex;
    flex-direction: column;
}
.landing-paragraph {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 48px;
    padding-bottom: 48px;
}
.request-btn {
    background-color: #9b582e;
    color: white;
    gap: 16px;
    width: 180px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    border-radius: 32px;
}
.flex-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.learn-more-btn {
    width: 161px;
    gap: 16px;
    justify-content: center;
    height: 40px;
    border: 1px solid #ca7111;
    border-radius: 32px;
    background-color: transparent;
    color: #ca7111;
    font-weight: 600;
    font-size: 18px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    width: 1309px;
    height: 992px;
    position: relative;
}
#deserts-section-id{
    display: flex ;
    flex-direction:row ;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.cake-card,
.sunflower-card,
.honey-jar-card,
.strawberry-card {
    display: flex;
    width: 1280;
    height: 557;
    background-color: #fbf4df;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom:50px ;
    margin-right: 16px;


}
